.hero {
  text-align: center;
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100%;
  background: transparent;
  overflow: hidden;
}

.hero-img {
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
}

.hero-content {
  position: absolute;
  max-width: 500px;
}
