.icon-bars {
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: transparent;
  border: 0;

  .bar {
    width: 100%;
    height: 3px;
    background-color: var(--fg-primary);
    z-index: 2;
    border-radius: 5px;
  }
  &:hover .bar {
    background-color: var(--accent-secondary);
  }
}

.icon-close {
  background-color: transparent;
  color: var(--fg-primary);
  border: 0;
  font-size: 30px;
  &:hover {
    color: var(--accent-secondary);
  }
}

.hide {
  display: none;
}

@include sm {
  .sm-hide {
    display: none;
  }
}
@include md {
  .md-hide {
    display: none;
  }
}
@include lg {
  .lg-hide {
    display: none;
  }
}
@include xl {
  .xl-hide {
    display: none;
  }
}
